{% extends 'layout.html'%}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><a href="/admin/category">分类首页</a></li>
</ol>

<table class="table table-hover table-striped">
    <tr>
        <td>ID</td>
        <td>分类名</td>
        <td>编辑</td>
        <td>删除</td>
    </tr>
    {% for category in categories%}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td></td>
        <td></td>
    </tr>
    {% endfor%}


</table>
{% include 'page.html' %}
{% endblock %}