<!doctype html>
<html>
<head>
    <title>呵呵</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/main.js"></script>
</head>
<body class="home-page">
<div class="wrapper">
    <div class="header" style="background-image:url('/public/images/cat.jpg')">
    </div>
    <div class="container">
        <section class="section">
            <article class="article">
                <div class="article-meta">
                    <span class="time">2017-03-04</span>
                    <span></span>
                </div>
                <div class="article-inner">
                    <div class="article-head">
                        标题
                    </div>
                    <div class="article-entry">
                        包包包包包包包包包包包包包包包包包包福建省地方还是卡积分函数大发啊发 对江苏南京饭卡是否能收到捐款
                    </div>
                    <div class="article-footer">
                        #js
                    </div>
                </div>
            </article>


        </section>
        <div class="aside">
            <div class="widget-wrap">
                <div class="widget-title">登录</div>
                <div class="widget">
                    <label>用户名</label>
                    <input type="text" id="username" placeholder="请输入用户名"/>
                    <label>密码</label>
                    <input type="password" id="password" placeholder="请输入密码"/>
                    <input type="button" value="登录" id="login" />
                    <label class="other-link">注册</label>
                </div>
            </div>
            <div class="widget-wrap" style="display: none;">
                <div class="widget-title">注册</div>
                <div class="widget">
                    <label>用户名</label>
                    <input type="text" id="registerUsername" placeholder="请输入用户名"/>
                    <label>密码</label>
                    <input type="password" id="registerPassword" placeholder="请输入密码"/>
                    <label>重复密码</label>
                    <input type="password" id="registerRePassword" placeholder="请输入密码"/>
                    <input type="button" value="注册" id="register" />
                    <label>登录</label>
                </div>
            </div>
            <div class="widget-wrap" style="display: none;">
                <div class="widget-title">用户</div>
                <div class="widget">
                    <span>用户已登录</span>
                </div>
            </div>
            <div class="widget-wrap">
                <div class="widget-title">目录</div>
                <div class="widget">
                    <ul class="category-list">
                        <li class="category-list-item">
                            js
                        </li>
                        <li class="category-list-item">
                            css
                        </li>
                        <li class="category-list-item">
                            html
                        </li>
                        <li class="category-list-item">
                            vuejs
                        </li>
                        <li class="category-list-item">
                            reactjs
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="footer-context">
            © 2017 mahong
            <br>
            powered by mahong
        </div>
    </div>
    <!--  <span>注册</span>
     <input type="text" id="username" placeholder="请输入用户名">
     <input type="password" id="password" placeholder="请输入密码">
     <input type="password" id="repassword" placeholder="请重复密码">
     <button class="submit-btn">提交</button> -->
</div>
</body>
</html>